input:focus,select:focus,textarea:focus,button:focus {
  outline: none;
}
body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  background: #23303a;
  width: 400px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
img{
  height: auto;
  max-width: 340px;
  max-height: 360px;
}
header, footer{
  background: #2f3d48;
  padding: 14px 20px;
  width: 360px;
  height: auto;
  overflow: auto;
}
header{
  border-top: solid 3px #d92196;
}
footer{
  border-bottom: solid 3px #38d385;
}
/************************
******** MAIN ********
************************/
#main{
  position: relative;
  background: #34414c;
  overflow: hidden;
  width: 400px;

  transition: margin-left 200ms;
}
  #main.open{
    margin-left: -160px;
  }
/************************
******** Header ********
************************/
  #search_textfield{
    background: #1f2b35;
    border: none;
    border-radius: 8px 0 0 8px;
    min-height: 22px;
    max-height: 22px;
    padding: 10px 20px;
    color: #2196d9;
    float: left;
    font-weight: bold;
    width: 193px;
    font-size: 14px;
  }
  #serach_btn{
    background: url(images/magnifying.png) no-repeat 50% 50% #38d385;
    border: none;
    border-radius: 0 8px 8px 0;
    width: 60px;
    height: 42px;
    float: left;
  }
    #serach_btn:hover{
      background-color: #d92196;
    }
  #thumbs_up{
    background: url(images/thumbs-up.png) no-repeat 50% 50% #f07938;
    width: 54px;
    height: 42px;
    display: inline-block;
    border: none;
    border-radius: 8px;
    float: left;
    margin-left: 12px;
  }
    #thumbs_up:hover{
      background-color: #ff6b1b;
    }

/************************
******** Wrapper ********
************************/
#wrapper{
  background: url(images/rando_bg.png) no-repeat 50% 50% #34414c;
  text-align: center;
  color: #506272;
  position: relative;
  min-height: 200px;
  overflow: auto;
}
  #gif_img{
    display: block;
    margin: 30px auto 12px auto;
    border-radius: 4px;
    min-height: 200px;
  }
  #loading{
    width: 100%;
    height: 100%;
    background: url(images/ajax-loader.gif) no-repeat 50% 50%;
    background-color: rgba(40, 54, 64, .8);
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
  }
    #loading.hidden{
      transition: all 1s;
      opacity: 0;
      visibility: hidden;
    }

  #git_meta{
    text-align: left;
    position: relative;
    margin-bottom: 14px;
  }
    #gif_url {
      white-space: pre;
      text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block;
      font-size: 10px;
      padding: 11px 25px;
      background: #3c4b58;
      border-radius: 8px;
      box-shadow: 0px 2px 0px #2f3d48;
      width: 236px;
      margin-left: 30px;
    }
      #gif_url::selection {
        background: #da6f6f;
      }

    #love_gif{
      position: absolute;
      top: 4px;
      right: 36px;
      display: block;
      width: 28px;
      height: 26px;
      -webkit-mask-image: url(images/love.svg);
      background-color: #465664;
      margin-left:14px;
    }
      #love_gif.loved{
        background-color: #da6f6f;
      }
      #love_gif:hover{
        background-color: #c55757;
        cursor: pointer;
      }

    #loved_menu_btn{
      background: url(images/love-menu.png) no-repeat 100% 48%;
      width: 30px;
      height:100%;
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
    }
      #loved_menu_btn:hover{
        background: url(images/love-menu-hover.png) no-repeat 100% 48%;
        cursor: pointer;
      }


/************************
******** Footer ********
************************/
  #recent_terms{
    max-height: 30px;
    overflow: hidden;
    max-width: 284px;
    float: left;
  }
    .search-term{
      background: #38d385;
      border-radius: 6px;
      overflow: auto;
      display: inline-block;
      color: #0d703e;
      font-size: 12px;
      padding-left: 12px;
      vertical-align:middle;
      margin-right: 14px;
      margin-bottom: 14px;
      box-shadow: 0 2px 0 #179555;
      cursor: pointer;
    }
      .search-term:last-child{
        margin-right:0;
      }
        .search-term .term{
          padding-top: 7px;
          display: inline-block;
        }
          .search-term:hover{
            background-color: #32c97d;
            color: #084b29;
          }
        .search-term .remove-term{
          background: #32c97d;
          height: 28px;
          width: 24px;
          float: right;
          border: none;
          color: #0d703e;
          margin-left: 6px;
        }
          .search-term .remove-term:hover{
            background-color: #23aa66;
          }
            .search-term .remove-term:active{
              background-color: #148d50;
            }

      #giphy_logo{
        background: url(images/giphy-logo.png) no-repeat 50% 50%;
        width: 58px;
        height: 20px;
        margin: 4px 0 6px 0;
        float: right;
      }

/**************************
******** Loved Bar ********
**************************/
#loved_bar{
  background: rgba( 0,0,0,.5 );
  position: absolute;
  top: 0;
  right: -20px;
  width: 180px; /*Hack to hide the scrollbar*/
  height: 100%;

  overflow-x:hidden;
  overflow-y:auto;
}
  #loved_gifs{
    width: 160px;
    text-align: center;
  }
    #loved_gifs .loved_gif img{
      max-width: 140px;
      /*max-height: 80px;*/
      /*margin-top: 20px;*/
      margin: 5px auto;
    }
      #loved_gifs .loved_gif:first-child img{
        margin-top: 10px;
      }
      #loved_gifs .loved_gif:last-child img{
        margin-bottom: 10px;
      }
